In [76]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [77]:
#load the training data
train_values = pd.read_csv('training_set_values.csv')

In [78]:
#load the training set labels
train_labels = pd.read_csv('training_set_labels.csv')

In [79]:
#combine training and the labels for it
combined = train_values.merge(train_labels, on='id')

In [80]:
#check it worked
combined.head(5)

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [81]:
#start to remove columns that don't help
#recorded_by has no unique values

In [82]:
#check it worked
len(list(combined))

41

In [83]:
combined['recorded_by'].unique()

array(['GeoData Consultants Ltd'], dtype=object)

In [84]:
combined.drop('recorded_by', axis=1, inplace=True)

In [85]:
#check it worked
len(list(combined))

40

In [86]:
#look at categorical predictors that show similar information
#start with extraction_type, extraction_type_group, and extraction_type_class

d = combined
d.groupby(['extraction_type', 'extraction_type_group', 'extraction_type_class']).size()

extraction_type            extraction_type_group  extraction_type_class
afridev                    afridev                handpump                  1770
cemo                       other motorpump        motorpump                   90
climax                     other motorpump        motorpump                   32
gravity                    gravity                gravity                  26780
india mark ii              india mark ii          handpump                  2400
india mark iii             india mark iii         handpump                    98
ksb                        submersible            submersible               1415
mono                       mono                   motorpump                 2865
nira/tanira                nira/tanira            handpump                  8154
other                      other                  other                     6430
other - mkulima/shinyanga  other handpump         handpump                     2
other - play pump          other handpump         handpump                    85
other - rope pump          rope pump              rope pump                  451
other - swn 81             other handpump         handpump                   229
submersible                submersible            submersible               4764
swn 80                     swn 80                 handpump                  3670
walimi                     other handpump         handpump                    48
windmill                   wind-powered           wind-powered               117
dtype: int64

In [87]:
# Group low occuring counts together or into related groups
combined['extraction_type'][combined.extraction_type.isin(['india mark ii','india mark iii'])] = 'india mark'
combined['extraction_type_class'][combined.extraction_type_class.isin(['india mark ii','india mark iii'])] = 'india mark'
combined['extraction_type'][combined.extraction_type.isin(['cemo', 'climax'])] = 'motorpump'
combined['extraction_type_class'][combined.extraction_type_class.isin(['cemo', 'climax'])] = 'motorpump'
combined['extraction_type'][combined.extraction_type.isin(['other - mkulima/shinyanga','other - play pump', 'walimi'])] = 'handpump'
combined['extraction_type_class'][combined.extraction_type_class.isin(['other - mkulima/shinyanga','other - play pump', 'walimi'])] = 'handpump'
combined['extraction_type'][combined.extraction_type.isin(['other - swn 81','swn 80'])] = 'swn'
combined['extraction_type_class'][combined.extraction_type_class.isin(['other - swn 81','swn 80'])] = 'swn'

C:\Users\julia.dills\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\julia.dills\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\julia.dills\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\julia.dills\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\julia.dills\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\julia.dills\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\julia.dills\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\julia.dills\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [88]:
#check it worked
d = combined
d.groupby(['extraction_type', 'extraction_type_group', 'extraction_type_class']).size()

extraction_type    extraction_type_group  extraction_type_class
afridev            afridev                handpump                  1770
gravity            gravity                gravity                  26780
handpump           other handpump         handpump                   135
india mark         india mark ii          handpump                  2400
                   india mark iii         handpump                    98
ksb                submersible            submersible               1415
mono               mono                   motorpump                 2865
motorpump          other motorpump        motorpump                  122
nira/tanira        nira/tanira            handpump                  8154
other              other                  other                     6430
other - rope pump  rope pump              rope pump                  451
submersible        submersible            submersible               4764
swn                other handpump         handpump                   229
                   swn 80                 handpump                  3670
windmill           wind-powered           wind-powered               117
dtype: int64

In [89]:
#remove extraction_type_group
combined.drop('extraction_type_group', axis=1, inplace=True)

In [90]:
#check it worked
len(list(combined))

39

In [91]:
d = combined
d.groupby(['management', 'management_group']).size()

management        management_group
company           commercial            685
other             other                 844
other - school    other                  99
parastatal        parastatal           1768
private operator  commercial           1971
trust             commercial             78
unknown           unknown               561
vwc               user-group          40507
water authority   commercial            904
water board       user-group           2933
wua               user-group           2535
wug               user-group           6515
dtype: int64

In [92]:
#keep these both

In [93]:
d = combined
d.groupby(['scheme_management', 'scheme_name']).size()

scheme_management  scheme_name
Company            BFFS                              1
                   Bagamoyo Wate                    60
                   Bagamoyo wate                   210
                   Borehole                          1
                   Borehole drilling project         1
                   Bulamba piped scheme              2
                   Burieni water supply              1
                   Doe water supply                  3
                   EKTM 2 water  supply              1
                   EKTM 2 water suply               25
                   EKTM 2 water supply               9
                   EKTM 3 water supply              51
                   Fufulamsuri water supply          1
                   GRUMETI                           6
                   HESAWA                            1
                   Hakwe water supply               10
                   Holili water supply              23
                   I                                 1
                   IKTM 2                            1
                   IKTM 2 water supply               1
                   IKTM 3 water supply               1
                   Ibukoni kimanga water supply      1
                   Iburieni water supply             6
                   Ihum                              1
                   Ikela Wa                         89
                   It                                1
                   Kamdawi water supply              8
                   Kandika water supply              4
                   Kaseni water supply               1
                   Kastamu water supply              8
                                                  ...
Water authority    Shirimatunda Water Supply        16
                   Shirimatunda water Supply        58
                   Shirimatunda water supply         1
                   Singino                           1
                   Sinyanga water supplied sch       4
                   Submersible                       1
                   Sui                               1
                   Suwasa water supply               8
                   TWESA                             1
                   Tank fu Mwenge                    1
                   Tank fupi Mwenge                  8
                   Tank refu Kasokola                4
                   Tank refu Mtakuja                 6
                   Tank refu Sitalike                7
                   Tungu water piped scheme          1
                   Tutu                             25
                   UWAMAMA                           4
                   Urambo water supply              15
                   Vumari water supply              11
                   Vunta water supply               11
                   WD                                1
                   Water from DAWASCO               28
                   World Bank                       60
                   World Vision                      8
                   World vision                      1
                   Yongoma                          16
                   Zepalama                          5
                   no scheme                         9
                   pump                              2
                   water supply at Kalebejo          1
dtype: int64

In [94]:
#remove scheme_name
combined.drop('scheme_name', axis=1, inplace=True)

In [95]:
#check it worked
len(list(combined))

38

In [96]:
d = combined
d.groupby(['payment', 'payment_type']).size()

payment                payment_type
never pay              never pay       25348
other                  other            1054
pay annually           annually         3642
pay monthly            monthly          8300
pay per bucket         per bucket       8985
pay when scheme fails  on failure       3914
unknown                unknown          8157
dtype: int64

In [97]:
# these look the same so we can drop payment
combined.drop('payment', axis=1, inplace=True)

In [98]:
#check it worked
len(list(combined))

37

In [101]:
d = combined
d.groupby(['water_quality', 'quality_group']).size()

water_quality       quality_group
coloured            colored            490
fluoride            fluoride           200
fluoride abandoned  fluoride            17
milky               milky              804
salty               salty             4856
salty abandoned     salty              339
soft                good             50818
unknown             unknown           1876
dtype: int64

In [102]:
#these look the same as well 
#keep the one with more description
combined.drop('quality_group', axis=1, inplace=True)

In [103]:
#check it worked
len(list(combined))

36

In [104]:
d = combined
d.groupby(['quantity', 'quantity_group']).size()

quantity      quantity_group
dry           dry                6246
enough        enough            33186
insufficient  insufficient      15129
seasonal      seasonal           4050
unknown       unknown             789
dtype: int64

In [105]:
#these look the same as well 
#keep quantity
combined.drop('quantity_group', axis=1, inplace=True)

In [106]:
#check it worked
len(list(combined))

35

In [107]:
d = combined
d.groupby(['source', 'source_type', 'source_class']).size()

source                source_type           source_class
dam                   dam                   surface           656
hand dtw              borehole              groundwater       874
lake                  river/lake            surface           765
machine dbh           borehole              groundwater     11075
other                 other                 unknown           212
rainwater harvesting  rainwater harvesting  surface          2295
river                 river/lake            surface          9612
shallow well          shallow well          groundwater     16824
spring                spring                groundwater     17021
unknown               other                 unknown            66
dtype: int64

In [108]:
#remove source_type
combined.drop('source_type', axis=1, inplace=True)

In [109]:
#check it worked
len(list(combined))

34

In [ ]:
#should we drop other and unknown??

In [110]:
d = combined
d.groupby(['waterpoint_type', 'waterpoint_type_group']).size()

waterpoint_type              waterpoint_type_group
cattle trough                cattle trough              116
communal standpipe           communal standpipe       28522
communal standpipe multiple  communal standpipe        6103
dam                          dam                          7
hand pump                    hand pump                17488
improved spring              improved spring            784
other                        other                     6380
dtype: int64

In [111]:
#drop one
combined.drop('waterpoint_type_group', axis=1, inplace=True)

In [112]:
#check it worked
len(list(combined))

33

In [ ]:
#keep going with geographic info