In [89]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

#the model
from sklearn.ensemble import RandomForestRegressor
#the error metric
from sklearn.metrics import roc_auc_score
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [90]:
#load the training data
train_values = pd.read_csv('training_set_values.csv')

In [91]:
#load the training set labels
train_labels = pd.read_csv('training_set_labels.csv')

In [92]:
#combine training and the labels for it
combined = train_values.merge(train_labels, on='id')

In [104]:
#make status_group to numbers
def get_status(x):
    if x.find('non') >= 0: return 1.0
    if x.find('functional needs repair') >= 0: 2.0
    if x.find('') >= 0: return 3.0
    return 0.0

In [105]:
combined['status-group']=combined.status_group.apply(get_status)

In [111]:
#combined['status_group'] = combined['status_group'].astype('float')

In [107]:
#check it worked
combined.head(2)

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group,status-group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional,3.0
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional,3.0

In [72]:
X=combined

In [73]:
y=X.pop('status_group')

In [74]:
#only shows numeric 
X.describe()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year,status-group
count,59400.000000,59400.000000,59400.000000,59400.000000,5.940000e+04,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000
mean,37115.131768,317.650385,668.297239,34.077427,-5.706033e+00,0.474141,15.297003,5.629747,179.909983,1300.652475,2.158838
std,21453.128371,2997.574558,693.116350,6.567432,2.946019e+00,12.236230,17.587406,9.633649,471.482176,951.620547,0.949794
min,0.000000,0.000000,-90.000000,0.000000,-1.164944e+01,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,18519.750000,0.000000,0.000000,33.090347,-8.540621e+00,0.000000,5.000000,2.000000,0.000000,0.000000,1.000000
50%,37061.500000,0.000000,369.000000,34.908743,-5.021597e+00,0.000000,12.000000,3.000000,25.000000,1986.000000,3.000000
75%,55656.500000,20.000000,1319.250000,37.178387,-3.326156e+00,0.000000,17.000000,5.000000,215.000000,2004.000000,3.000000
max,74247.000000,350000.000000,2770.000000,40.345193,-2.000000e-08,1776.000000,99.000000,80.000000,30500.000000,2013.000000,3.000000

In [80]:
numeric_variables = list(X.dtypes[X.dtypes != 'object'].index)
X[numeric_variables].head()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year,status-group
0,69572,6000.0,1390,34.938093,-9.856322,0,11,5,109,1999,3
1,8776,0.0,1399,34.698766,-2.147466,0,20,2,280,2010,3
2,34310,25.0,686,37.460664,-3.821329,0,21,4,250,2009,3
3,67743,0.0,263,38.486161,-11.155298,0,90,63,58,1986,1
4,19728,0.0,0,31.130847,-1.825359,0,18,1,0,0,3

In [112]:
#X.drop(X.index[238])

In [113]:
#X.drop(X.index[569])

In [114]:
model = RandomForestRegressor(n_estimators=100)
model.fit(X[numeric_variables],y)

ValueError: could not convert string to float: 'functional'